DJANGO_SECRET=""
DJANGO_SECRET_ADMIN_URL="admin/"
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS="example.com, www.example.com"
TRUSTED_ORIGINS="example.com"
DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_PASSWORD="1234"